body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #000;
}

li{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

a{color: #05239b;
text-decoration: none;
}
a:hover{text-decoration: underline;
/* font-weight: bold;
font-size: 18px; */
}
a:visited{
color: blue;

}

.resumeListHeading{
    font-weight:bold ;
    font-style: normal;
}

.underline{ text-decoration: underline;}
.bold{font-weight: bold;}
.justify{text-align: justify;}

.homebg{
    background-image:url('../images/download.png');
}
.box1{
    border: width 1px; 
    border-style:solid ;
    color: gray;
   /* border: 1pt solid red;*/
}

.box2{
padding: 5px;
}

.box3{
margin: 50px;
}